body { margin: 0; padding: 0; overflow: hidden; background-color: #000502; }
#root { width: 100vw; height: 100vh; }

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-flicker {
  animation: flicker 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}